* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, h1, h2, h3, h4, h5, h6 {
    color: #5c5b5b;
}

body {
    background: #eeecec;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

input {
    padding: 5px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #006669;
    outline: none;
}

/*
    HEADER
*/

header {
    background: #008484;
    height: 70px;
}

header h1 {
    margin-top: 14px;
}

header .logo-image {
    color: #fff;
    text-transform: uppercase;
}

.logo-image:hover {
    color: #fff;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header ul li a {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 20px 10px;
    transition: 0.6s ease;
}

header ul li:last-child {
    width: 180px;
}

header ul li a:hover {
    color: #acacac;
    background: #006669;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 23px;
    transform: translateX(-50%);
    width: 180px;
    z-index: 10000;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    width: 100%;
    padding: 10px;
    background: #eeebeb;
    color: #006669;
}

header ul li ul li:hover a {
    color: #fff;
}

/*
    SLIDER
 */

.slider-title {
    text-align: center;
    padding: 30px 0;
}

.carousel-item img {
    height: 250px;
}

.carousel-item,.carousel-inner {
    border-radius: 4px;
}

.carousel-caption {
    align-items: center;
    text-align: center;
}

.carousel-caption h5 {
    font-size: 25px;
    font-weight: 500;
    background-color: #000;
    width: fit-content;
    position: relative;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    transition: all 0.5s ease;
    opacity: 0.7;
}

.carousel-caption h5:hover, a:hover {
    color: #008484;
}

/*
    MAIN
 */

.main-content .main-content-title {
    margin: 30px 0;
}

.main-content .post {
    margin-bottom: 20px;
}

.main-content .post_text {
    background: #fff;
    padding: 8px;
    border-radius: 4px;
}

.main-content .post_text h3 {
    font-size: 15px;
    font-weight: 900;
    transition: all 0.5s ease;
    margin-bottom: 15px;
}

.main-content .post_text h3:hover {
    text-decoration: underline;
}

.main-content .post_text i {
    margin-bottom: 10px;
    margin-right: 15px;
}

.main-content .post_text span {
    margin-left: 5px;
}

.main-content .post_text .preview-text {
    font-size: 12px;
}

/*
    SIDEBAR
 */

.container .sidebar-main {
    margin-top: 96px;
}

.sidebar .section {
    margin-left: 5px;
    border-radius: 4px;
    background: #fff;
}

.sidebar .section.search {
    margin-bottom: 20px;
    padding: 10px;
}

.sidebar .section.topics {
    padding: 10px;
}

.sidebar .section.topics h3 {
    font-size: 18px;
}

.sidebar .section.topics ul li a {
    font-size: 12px;
    transition: all 0.5s ease;
    padding: 0;
}

.sidebar .section.topics ul li a:hover {
    padding-left: 7px;
    font-weight: 700;
}

.sidebar .section.topics ul {
    padding: 0;
}

/*
    FOOTER
 */

.footer {
    color: #d3d3d3;
    position: relative;
    background: #303036;
    padding: 22px 0;
}

.footer .row {
    padding-bottom: 40px;
}

.footer h3, h4 {
    color: #fff;
}

.footer .about .contact span {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    transition: all 0.5s ease;
    color: #fff;
    cursor: pointer;
}

.footer .about .socials a:hover {
    border: 1px solid #fff;
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.footer .links ul a:hover {
    padding-left: 5px;
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;
    border: 1px solid transparent;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
    border: 1px solid #fff;
}

.footer .contact-form .contact-btn {
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.footer .contact-form .contact-btn:hover {
    color: #e7e5e5;
    background: #414147;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
    SINGLE-POST
 */

.single_post .img-thumbnail {
    margin-bottom: 20px;
}

.single_post .info {
    margin-bottom: 20px;
}

.single_post .info span {
    margin-left: 5px;
    font-weight: 900;
    font-size: 12px;
}

.single_post .info i {
    margin-right: 20px;
}

.single_post .single_post_text {
    text-align: justify;
}

.single_post .single_post_text a {
    color: blue;
}

.single_post .single_post_text a:hover {
    text-decoration: underline;
    color: #7171e2;
}

.single_post .single_post_text:last-child {
    margin-bottom: 40px;
}

/*
    ABOUT
 */

.main-content .about-video, video {
    width: 100%;
    margin-bottom: 30px;
}

.main-content .about-music {
    margin-bottom: 30px;
    display: flex;
}

.main-content .about-music div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: fit-content;
    border-radius: 4px;
}

.main-content .about-music audio {
    margin: 15px 10px;
}

/*
    REG-FORM
 */
.container .row.reg-form {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .form-title {
    margin: 30px 0;
    text-align: center;
}

.container .row.reg-form .btn.btn-primary {
    background: #008484;
    border: 1px solid #008484;
}

.container .row.reg-form .btn.btn-primary:hover {
    background: #1e9494;
}

.container .row.reg-form div.reg-auth-button {
    display: flex;
    justify-content: space-between;
}

.err p, .error {
    color: red;
    padding-left: 20px;
    font-style: italic;
}

.reg-form .success p {
    color: #3fae11;
    padding-left: 20px;
    font-style: italic;
}

.sidebar-admin {
    background: #008484;
    margin: 30px 0;
    border-radius: 4px;
    min-height: 500px;
}

.sidebar-admin ul {
     padding: 20px 5px;
 }

.sidebar-admin ul li {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 15px;
}

.sidebar-admin ul li a {
    color: #fff;
    transition: all 0.5s ease;
}

.sidebar-admin ul li a:hover {
    padding-left: 5px;
    color: #d9d6d6;
}

.container .posts-admin {
    margin: 30px 0;
    padding: 0 0 0 25px;
}

.container .posts-admin .button {
    margin-bottom: 15px;
}

.container .posts-admin .button a {
    margin-right: 20px;
}

.container .posts-admin .title-table {
    font-weight: 900;
    background: #d9d6d6;
    padding: 5px 0;
}

.container .posts-admin div.edit, div.delete {
    color: #237ae3;
}

.container .posts-admin div.edit:hover, div.delete:hover {
    text-decoration: underline;
}

.add-post form div, select{
    margin-bottom: 20px;
}

.add-topics form div{
    margin-bottom: 20px;
}

.add-user form div, select{
    margin-bottom: 20px;
}

.ck.ck-editor__main p{
 min-height: 200px;
}

.posts .row .err {
    color: red;
    padding-left: 20px;
    font-style: italic;
}

.posts .row  .success {
    color: #419115;
    padding-left: 20px;
    font-style: italic;
}

.publish {
    align-items: center;
    margin-left: 10px;
}

.comments button {
    margin-bottom: 30px;
}



